spacy >= 0.101.0
wolframalpha >= 3.0
beautifulsoup4 >= 4.4.1
flask >= 0.12
bcrypt >= 3.1.2
requests >= 2.12.4
google >= 1.9.3
wikipedia >= 1.4.0
newspaper3k >= 0.0.9.8
spotipy >= 2.4.4
dateparser >= 0.5.1
pyowm >= 2.6.1
whenareyou >= 0.1.0
pytz >= 2016.10