[Unit]
Description=W.I.L.L personal assistant
After=network-online.target

[Service]
Type=idle
WorkingDirectory=/usr/local/W.I.L.L
Restart=always
ExecStart=/usr/bin/python uwsgi --http :5000 --gevent 1000 --http-websockets --master --wsgi-file /usr/local/W.I.L.L/will.py --callable app
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
