<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>W.I.L.L</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{{ url_for("static", filename="ws.js") }}"></script>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
        <link href='{{ url_for("static", filename="style.css") }}' rel='stylesheet' type='text/css'>

    </head>

<iframe name="hiddenFrame" class="hide"></iframe>
    <script>
        establish_websocket()
    </script>
    <body>
        <div id='frame'>
			<div id='updated'>UPDATED</div>
            <div id="session">

            </div>
			<form name="command" target="hiddenFrame" action="/api/command" method="post">
				 <input type="text" name="command" id="command">
                 <input type="hidden" name="session_id" value="{{ session['session_id'] }}">
                <input type="submit" text="Go">
            </form>
                <!--TODO: finish this and use the session key in {{ sessions  }}
				<option value="best" selected="selected">the very best!</option>
				<option value="other">enh...something else</option>
				</select><br/>
			</div>

            <div id='value'    class='data'></div>
            <div id='contents' class='data'></div>
        </div>
        <script type="text/javascript">
            establish_websocket({{port}});
        </script>

    </body>
</html>
