<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>W.I.L.L</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
        <link href='{{ url_for("static", filename="style.css") }}' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function() {
                socket.emit('get_updates', {session_id: '{{ session["session_id"] }}'})});
            socket.on('update', function(data){
                console.log("Received update "+data);
                alert(data["value"]);
            })
        </script>
    </head>

<iframe name="hiddenFrame" class="hide"></iframe>
    <body>
        <div id='frame'>
            </div>
			<form name="command" target="hiddenFrame" action="/api/command" method="post">
				 <input type="text" name="command" id="command">
                 <input type="hidden" name="session_id" value="{{ session['session_id'] }}">
                <input type="submit" text="Go">
            </form>
        </div>
    </body>
</html>
